*.html
.Rhistory
._*
kaldi/
lang_mod/
ASR*_*/
forced_aligned/gII/
forced_aligned/callMAUS/test_maus/
forced_aligned/callMAUS/phatts_FK4ForcAliAG/
forced_aligned/callMAUS/tmp.txt
forced_aligned/TextGrids*/
forced_aligned/mausPhattsTGs/
forced_aligned/data_analysis/logFile.txt
forced_aligned/data_analysis/saved_data/


**/*.dict
**/*.ctm

**/__pycache__/

